.form-label {
    color: green;
    margin: 0;
    padding-right: 1rem;
}

.form-control {
    font-size: small;
}

.input-group-sm {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.container-table {
    height: 23.5rem;
}